.jogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60%;
    margin:  0 auto;
}

h1 {
    margin-bottom: 1em;
}

img {
    max-width: 500px;
    margin-bottom:0 auto 1em ;
}

.about-jogo, .action {
    padding-bottom: 1em;
    border-bottom: 1px solid;
    padding: 1.2em;
    width: 100%;
}

.action {
    background-color: #eee;
}

.edit-btn, .remove-btn {
    border: 1px solid;
    padding: 0.43em 1em;
    font-size: 1em;
    margin: 0 0.5em;
    cursor: pointer;
    background-color: #fff;
    transition: 0.4s;
}

button fa-icon, a fa-icon {
    margin-right:  0.2em;
}

.edit-btn, .edit-btn path {
    border-color: #007BFF;
    color: #007BFF;
}

.edit-btn:hover, .edit-btn:hover path {
    color: #fff;
    background-color: #007BFF;
}

.remove-btn, .remove-btn path {
    border-color: #DC3545;
    color: #DC3545;
}

.remove-btn:hover, .remove-btn:hover path {
    color: #fff;
    background-color: #DC3545;
} 

.about-jogo h3, .action h3 {
    margin-bottom: 1em;
}