nav {
    display: flex;
    justify-content: center;
    padding: 1em;
    /* border-bottom: 1px solid #777; */
    
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links li{
    margin-right: 1em;
    list-style: none;
}

.links a {
    padding: 0.1em 0.3em;
}

#add:hover {
    transform: scale(1.2);
}